.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.google-logo-img {
 
   width: 40%;
   margin-bottom: 30px;

   @media screen and (min-width:768px){
     width: 30%;
     margin-bottom: 30px;
   }
  
    
  
}
.display-conatiner {

  width: 70%;
  border-radius: 8px;
  box-shadow: 0px 0px 5px #aaaaaa;
  padding: 15px;

@media screen and (min-width:768px){
  width: 50%;
  
}
}
.input-conatiner {
  display: flex;
  align-items: center;
  width: 100%;
}
.search-icon {
  width: 20px;
}
.search-input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  font-weight: 450;
  color: #64748b;
  border: none;
  outline: none;
}
.suggest-container {
  padding: 0px;
  padding-right: 10px;
}
